.App{
  text-align: center;
  background-image: url(b.jpg);
  background-attachment: fixed; 
}
.myList{
  font-family: sans-serif;
  font-size: 20px;
}
.crud{
  position: fixed;
  padding: 24px 24px 24px 24px;
  height: 476px;
  width: 380px;
  /* margin-left: 782px; */
  border: 2px solid;
  background-color: #212529;
}
.kategori{ 
}
.colorr{
  color: white;
}
label{
  color: white;
}

.judul{
  font-family: Gregory Packaging;
  font-size: 60px;
}


.App-logo {
  animation: App-logo-spin infinite 7s linear;
  height: 140px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}